:root{
    /* Cores */
    --hover-color: #cecece;
    --background-color: #D9D9D9;

    /* Animações */
    --hover-animation: ease 0.2s;

    /* Shadow Box*/
    --shadow-box: 0px 0px 15px;

    /* Margin e padding*/
    --margin: 10px
}