@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Sigmar&display=swap');

body{
    width: 99vw;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Parkinsans',sans-serif;
    
}

/* Header Guide */

.header-guide{
    display: flex;
    align-items: center;
    position: relative;
    width: 95%; 
    height: 5.5rem;
    background-color: var(--background-color);
    box-shadow: var(--shadow-box);
    padding: 10px 20px;
    margin: 0 auto; 
    border-radius: 10px;
}

.header-guide .logo img{
    margin-left: 20px;
    width: 10rem;
}

.navegation{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navegation a{
    color: black;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Parkinsans', sans-serif;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.navegation a:hover{
    background-color: var(--hover-color);
    border-radius: 10px;
    transition: var(--hover-animation);
}

.navegation a:not(:hover){
    transition: var(--hover-animation);
}

/* Main container */

.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.main_card{
    padding: 15px;
    width: 90vw;
    height: auto;
    box-shadow: var(--shadow-box);
    background-color: var(--background-color);
    border-radius: 10px;
}

.produts{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.produts .about img{
    width: 200px;
}

.produts .produt-card img{
    max-width: 250px;
    min-width: 50px;
    padding: 40px;
    cursor: pointer;
}

.produts .produt-card img:hover{
    transition: var(--hover-animation);
    border-radius: 100%;
}

.produts .produt-card img:not(:hover){
    transition: var(--hover-animation);
    opacity: 50%;
}

.produts .about img:hover{
    transition: var(--hover-animation);
    border-radius: 10px;
    cursor: pointer;
}

/* Caixa de produtos*/

.products_contents{
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 0px 30px;
    overflow: hidden;
}

.products_slide input{
    display: none;
}

.products_slide{
    width: 400%;
    height: auto;
    display: flex;
}

.slide{
    width: 25%;
    position: relative;
    transition: ease-out 1.5s;
}

.slide img{
    width: 100%;
}

.manual_navigation{
    position: absolute;
    width: 80%;
    margin-top: 39%;
    display: flex;
    justify-content: center;
}

.manual_btn{
    cursor: pointer;
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.manual_btn:not(:last-child){
    margin-right: 20px;
}

.manual_btn:hover{
    background-color: rgb(126, 126, 126);
}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 80%;
    margin-top: 39%;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

/* Slide function*/

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio1:checked ~ .navigation-auto .auto_btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto_btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto_btn3{
    background-color: white;
}

/* Footer */

.footer_container{
    margin-top: 10px;
    background-color: #adadad;
    height: auto;
}

.footer_container .contato_container{
    margin: 10px;
}

.footer_container .contato_container span{
    display: flex;
    margin-left: 10px;
    padding: 10px;
}

.footer_container .contato_container label{
    position: relative;
    padding-left: 10px;
}

.footer_container .contato_container img{
    width: 30px;
}

.direitos{
    display: flex;
    justify-content: center;
    align-items: center;
}
